<!DOCTYPE html>
<html>
<head>
    <title>Video Stream</title>
    <script>
        function startTracking() {
            fetch('/start', { method: 'POST' })
                .then(response => {
                    if (response.ok) {
                        console.log("Tracking started");
                        document.getElementById('video').src = "/video_feed";
                    } else {
                        console.error("Failed to start tracking");
                    }
                });
        }

        function stopTracking() {
            fetch('/stop', { method: 'POST' })
                .then(response => {
                    if (response.ok) {
                        console.log("Tracking stopped");
                        document.getElementById('video').src = "";
                    } else {
                        console.error("Failed to stop tracking");
                    }
                });
        }
    </script>
</head>
<body>
    <h1>Eye Tracking Cursor Control</h1>
    <button onclick="startTracking()">Start Streaming</button>
    <button onclick="stopTracking()">Stop Streaming</button>
    <br><br>
    <img id="video" src="" width="50%"/>
</body>
</html>
