<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <form id="signupForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="button" onclick="captureFace()">Capture Face</button>
        <div id="videoPreview"></div>
        <br>
        <button type="button" onclick="startCalibration()">Calibrate</button>
        <br>
        <button type="submit">Submit</button>
    </form>
    <script>
        function captureFace() {
            // Open camera to capture face using OpenCV in Flask
        }
        function startCalibration() {
            // Use OpenCV to guide user to look at 4 corners and store points
        }
    </script>
</body>
</html>
